
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Playfair+Display:ital,wght@0,400;0,600;1,400&family=Roboto:ital,wght@1,300&display=swap');

.color-body {
  height: 100vh;
  background-color: #f8f8f8;
}
.font {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Roboto', sans-serif;
}
.rectangle {
  height: 500px;
  overflow-y: scroll; /* Enable vertical scrolling */
  border-radius: 15px;
  background-color: #f8f8f8;
  box-shadow: 1px 4px 4px 1px rgba(85, 85, 85, 0.25);
}
/* Target the scrollbar of the .rectangle element */
.rectangle::-webkit-scrollbar {
  width: 3px; /* Set the width of the scrollbar */
  height: 2px;
}

/* Target the track (background) of the scrollbar */
.rectangle::-webkit-scrollbar-track {
  background: #b10f76; /* Set the background color of the track */
  
}

/* Target the handle (thumb) of the scrollbar */
.rectangle::-webkit-scrollbar-thumb {
  background: #888; /* Set the background color of the thumb */
}

/* Change the thumb color on hover */
.rectangle::-webkit-scrollbar-thumb:hover {
  background: #0ecd9a;
}

.btn-style {
  width: 200px;
  border-radius:8px;
  color: seashell;
  background-color: #224f61;
}

.img-avatar {
  height: 65px;
  width: 66px;
  border-radius: 50%;
  border: solid #8a1b68;
  padding: 5px;
}

.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) #b20d97!important;
}


